parameters:
	ignoreErrors:
		# Looks like a bug in phpstan, protected $parentNode is defined in common base class
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\SetTargetList\\:\\:\\$parentNode\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/Insert.php

		# For some reason "treatPhpDocTypesAsCertain: false" did not help here
		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/Select.php

		# For some reason "treatPhpDocTypesAsCertain: false" did not help here
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/Select.php

		# https://github.com/phpstan/phpstan/issues/4492
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\LockList\\:\\:\\$parentNode\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/SelectCommon.php

		# https://github.com/phpstan/phpstan/issues/4492
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\Identifier\\|sad_spirit\\\\pg_builder\\\\nodes\\\\Star\\:\\:\\$parentNode\\.$#"
			count: 2
			path: src/sad_spirit/pg_builder/nodes/ColumnReference.php

		# https://github.com/phpstan/phpstan/issues/4492
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\Identifier\\:\\:\\$parentNode\\.$#"
			count: 2
			path: src/sad_spirit/pg_builder/nodes/ColumnReference.php

		# https://github.com/phpstan/phpstan/issues/4492
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\Identifier\\:\\:\\$parentNode\\.$#"
			count: 3
			path: src/sad_spirit/pg_builder/nodes/QualifiedName.php

		# https://github.com/phpstan/phpstan/issues/4492
		-
			message: "#^Access to protected property sad_spirit\\\\pg_builder\\\\nodes\\\\Identifier\\:\\:\\$parentNode\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/QualifiedOperator.php

		# Looks like a bug in phpstan, it fucks up with guessing return value of GenericNodeList::prepareListElement()
		-
			message: "#^Method sad_spirit\\\\pg_builder\\\\nodes\\\\expressions\\\\ArrayExpression\\:\\:prepareListElement\\(\\) should return sad_spirit\\\\pg_builder\\\\nodes\\\\ScalarExpression but returns sad_spirit\\\\pg_builder\\\\Node\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/expressions/ArrayExpression.php

		# triggered by $this->offsets[] = ...
		-
			message: "#^Array \\(array<TKey, T of sad_spirit\\\\pg_builder\\\\Node>\\) does not accept key int\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/lists/GenericNodeList.php

		# Looks like a bug in phpstan, it fucks up with guessing return value of GenericNodeList::prepareListElement()
		-
			message: "#^Method sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\IdentifierList\\:\\:prepareListElement\\(\\) should return sad_spirit\\\\pg_builder\\\\nodes\\\\Identifier but returns sad_spirit\\\\pg_builder\\\\Node\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/lists/IdentifierList.php

		# Looks like a bug in phpstan, it fucks up with guessing return value of GenericNodeList::prepareListElement()
		-
			message: "#^Method sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\RowList\\:\\:prepareListElement\\(\\) should return sad_spirit\\\\pg_builder\\\\nodes\\\\expressions\\\\RowExpression but returns sad_spirit\\\\pg_builder\\\\Node\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/lists/RowList.php
