parameters:
	ignoreErrors:
		# Looks like a bug with memoizing the result of stream->matches(...) call
		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: src/sad_spirit/pg_builder/Parser.php

		# Looks like a bug with memoizing the result of stream->matches(...) call
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/Parser.php

		# This is a genuine problem but fixing it correctly is hard, so leave as is for now
		-
			message: "#^PHPDoc type sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\ColumnDefinitionList\\|sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\IdentifierList\\|null of property sad_spirit\\\\pg_builder\\\\nodes\\\\range\\\\FunctionFromElement\\:\\:\\$p_columnAliases is not covariant with PHPDoc type sad_spirit\\\\pg_builder\\\\nodes\\\\lists\\\\IdentifierList\\|null of overridden property sad_spirit\\\\pg_builder\\\\nodes\\\\range\\\\FromElement\\:\\:\\$p_columnAliases\\.$#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/range/FunctionFromElement.php

        # Specifying @param-out does not seem to work, so just silence that
		-
			message: "#^Parameter &\\$property by-ref type of method sad_spirit\\\\pg_builder\\\\nodes\\\\GenericNode::setRequiredProperty\\(\\)#"
			count: 1
			path: src/sad_spirit/pg_builder/nodes/GenericNode.php

		# Some questionable errors from phpstan 2.1.30
		-
			message: "#^Property sad_spirit\\\\pg_builder\\\\tests\\\\nodes\\\\GenericNodeListTest::\\$nodeList in isset\\(\\) is not nullable nor uninitialized\\.$#"
			count: 3
			path: tests/nodes/GenericNodeListTest.php
